<h1>Blogconfigs#edit</h1>
<p>※ブログ設定の編集</p>
<% if @blogconfig.errors.any? %>
<ul>
  <% @blogconfig.erros.full_messages.each do |err| %>
  <li><%= err %></li>
  <% end %>
</ul>
<% end %>

<table>
  <%= form_for(@blogconfig, url:{controller:'blogconfigs'}) %>
</table>
